<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Mamandine - In cookies we trust</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/style/cake.min.css') }}" media="all" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{{ path("app_cake_list") }}">Mamandine</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href={{ path('app_cake_create') }}>
                        {% trans from "base" %}Add a cake{% endtrans %}
                    </a>
                </li>
            </ul>
            <form method="post" action="{{ path("search_cake") }}" class="form-inline my-2 my-lg-0">
              <input
                name="search"
                class="form-control mr-sm-2"
                type="text"
                placeholder="{% trans from "base" %}Brownie...{% endtrans %}"
                aria-label="Search">
              <input
                class="btn btn-outline-success my-2 my-sm-0" type="submit"
                value="{% trans from "base" %}Search{% endtrans %}"
              />
            </form>
          </div>
          <div class="align-right">
              {% if app.user %}
                  {{ app.user.email }}
                  <a href="{{ path("app_logout") }}" class="btn btn-danger">
                      {% trans from "base" %}
                          Sign out
                      {% endtrans %}
                  </a>
              {% else %}
                  <a href="{{ path("app_login") }}" class="btn btn-success">
                      {% trans from "base" %}
                          Sign in
                      {% endtrans %}
                  </a>
              {% endif %}
          </div>
        </nav>
        {% endblock %}
        
        {% block body %}
        
        {% endblock %}

        {% block footer %}
        <div class="navbar navbar-light">
            <div class="container">
                <p class="navbar-text pull-left">Mamandine - In cookies we trust.</p>
            </div>
        </div>
        {% endblock %}
        {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
