{% extends 'base.html.twig' %}

{% block body %}

<div id="container">
    <section class="container">
        <h3>Cakes list</h3>
        <div class="row">
            {% for cake in cakes %}
            <div class="col-sm-3">
                <a href="{{ path('app_cake', {id : cake.id}) }}">{{ cake.name }}</a>                           
                 <article class="card">
                    <div class="card-body">
                        <p class="card-text">{{ cake.name }} - {{ cake.price }} € (${{ convertor.euroToDollar(cake.price) }})</p>
                    </div>
                 </article>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}